div.mes {
  border: thin black outset;
}

ul.mesWcList {
  border: thin pink outset;
  padding: 0.3em;
  margin: 0.2em 0.2em 1em 1em ;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80%;
  flex-grow: 1;
}

div.virtualWorkcenters {
  display: flex;
  height: 5em;
  justify-content: space-around;
  align-items: flex-start;
}