div.plant {
  border: thin solid black;
  margin: 0.2em;
  padding: 0.1em;
}

div.plant_header {
  text-align: left;
}

div.plant_body {
  padding: 0.1em;
  display: flex;
}

div.transport {
  width: 5em;
  background-color: lightyellow;
  border: thin solid grey;
  margin-left: 1em;
}

div.transport_header {
  text-align: left;
  font-weight: bold;
}