div.plant {
  border: thin solid black;
  margin: 0.2em;
  padding: 0.1em;
}

div.plant_header {
  text-align: left;
}

div.plant_header > h4 {
  font-weight: bold;
}

ul.plant_body {
  padding: 0.1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

div.plant_branch {
  display: flex;
  flex-wrap: wrap;
}

div.plant_leaf {
  flex-grow: 5;
  flex-shrink: 5;
}

div.plant_leaf.stage {
  flex-grow: 1;
  flex-shrink: 1;
  border: thin black solid;
  margin: 0.1em;
}

div.plant_leaf.dock {
  flex-grow: 1;
  flex-shrink: 1;
  border: thin black solid;
  margin: 0.1em;
}

div.transport {
  width: 5em;
  background-color: lightyellow;
  border: thin solid grey;
  margin-left: 1em;
}

div.transport_header {
  text-align: left;
  font-weight: bold;
}