div.node_selectors a {
  padding-left: 0.3em;
}

div.node_selectors {
  width: 300;
}

.dayTimeSelect {
  width: 7em;
  margin: 1em;
}

a.lastButton {
  padding: 0.5em;
}

a.nextButton {
  padding: 0.5em;
}

.hidden {
  visibility: hidden;
}

h1 {
  font-weight: bold;
}