div.customer {
  background-color: lavender;
}

li.customerDay {
  border: thin lightblue solid;
}

ul.customerDays {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
}

ul.customerTypes {
  background-color: aliceblue;
}