div.externaltransport {
    border: thin solid lightskyblue;
    background-color: lightyellow;
    text-align: left;
}

div.PlantDiv {
    border: thin dotted black;
}

div.enterprise_overview {
    display: block;
    position: fixed;
    align-self: left;
    height: 100%;
    background-color: mintcream;
    border: medium outset grey;
    width: 15%;
}

div.enterprise_plants {
    margin-left: 15%;
}